<!DOCTYPE html>
<html>
	<head>
		<title>DeviseMailer</title>
		<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<%= render 'layouts/nav'%>
		<%= bootstrap_flash %>
		<div class='container'>
			<%= yield %>
		</div>

		<%= render 'layouts/foot' %>
	</body>
</html>